*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-image: url('jeruk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.containers{
    position: absolute;
    left: 5%;
    top: 10%;
    transform: translate(-50%,-50%);
    padding: 0px 0px;
    width: 0px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 0px rgba(255,255,255,.3);
}
.containers h1{
    text-align: center;
    color: #fafafa;
    margin-bottom: 0px;
    text-transform: uppercase;
    border-bottom: 0px solid #2979ff;
}
.containers label{
    text-align: center;
    color: #90caf9;
}
.containers form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 0px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}
.containers form button{
    width: 100%;
    padding: 0px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}
.Tulis{
    color: white;
    position: absolute;
    left: 5%;
    top: 30%;
    transform: translate(-50%,-50%);
    padding: 0px 0px;
    width: 0px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 0px rgba(255,255,255,.3);
}
.Tulis1{
    color: white;
    position: absolute;
    left: 5%;
    top: 15%;
    
}
