html{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: cornflowerblue;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
#box1 {
    float: left;
    color: white;
    margin-left: 46px;
    padding: 0px 38px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#box1 a{
    text-decoration: none;
    color: white;
}
#box2 {
    width: 1170px;
    float: right;
    position: absolute;
    top: 10%;
    right: 17%;
    left: 6%;
    background: #082B59;
}
#box3 {
    width: 1170px;
    float: right;
    position: absolute;
    top: 74%;
    right: 17%;
    left: 6%;
    background: #082B59;
}
.style1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-style: serif;
	text-align: center;
}
.style-font {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: serif;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    color: white;
}
.border1 {
    border: 0px solid black;
    padding: 0px;
}
#inner {
    width: 200px;
    height: auto;
    float: right;
    margin:0 0;
    border: 0px solid black;
}
#leftmenu ul{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    float: right;
    margin-right: 140px;
}
#leftmenu ul li {
    list-style: none;
    display: inline-block;
    color:white;
    font-family: 'Raleway', sans-serif;
    padding: 15px 15px;
    font-weight: 400;
  }
#leftmenu a{
    padding: 5px;
    display: block;
    margin: 0px 0px 1px 0px;
    color: white;
}
#leftmenu a:hover{
    background: #082B59;
    border-bottom: 0px solid #08596A;
    transition: all .3s ease;
}
#leftmenu a:link a:visited a:active
{
    padding-left:15px;
    text-decoration: none;
}
.down{
    position: absolute;
    top: 50%;
    left:39%;
    transform: translate(-50%,-50%);
}
.down img{
    width: 53%;
}
.header{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50% ,-50%);
}
.header h1{
    color: white;
    text-align: left;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 50px;
}
.header span{
    color: white;
}
.tagline{
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    top: 55%;
    left: 73%;
}
.tagline p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: left;
    color: white;
}
.search-area{
    width: 205px;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 10px;
    float: left;
    padding-left: 15px;
    box-shadow: 19px 21px 53px rgba(46,46,46,0.66);
}
.search-btn{
    width: 100px;
    height: 42px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #082B59;
    margin-left: -70px;
    margin-top: 0.2px;
    box-shadow: 0px 21px 53px rgba(46,46,46,0.66);
}
.search-btn:hover{
    transition: all .5s ease;
    background-color: #082B90;
    box-shadow: 0px 21px 53px rgba(46,46,46,0.66);
}
.row footer{
    margin-top:100px;
}
.footer p{
    color: white;
    font-size: 18px;
    position: absolute;
    left: 80px;
    top: 600px;
}